<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="BusNormal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is home Page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center ">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item"
				src="https://www.youtube.com/embed/39Lhyf5NbM0?rel=0"
				allowfullscreen width="100" height="200"></iframe>
		</div>

	</section>
</body>
</html>